<!doctype html>
<html lang="en">
  <head>
    {% load static %}
     <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
              <meta name="author" content="">
            <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
         <title>Promedical</title>
       <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <!-- Bootstrap core CSS -->
   <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
       <!-- Custom styles for this template -->
            <link href="album.css" rel="stylesheet">
        </head>
     <body>
  <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
           <div class="container">
               <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'P.png'  %} "  height=130 width=130 class="d-inline-block alighn-top" />
                         PROMEDICAL
                            </a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
           </span>
          </button>
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                 <a class="nav-link active" href="{% url 'index' %}" onclick="">MY INFO.   </a>
                     <a class="nav-link active" href="javascript:{document.getElementById('logout').submit()}" onclick="">LOGOUT</a>
                       <form id="logout" method="POST" action="{% url 'logout' %}">
                          {% csrf_token %}
                        <input type="hidden" />
                     </form>
                {% else %}
              </div>
              <a class="nav-link active" href="{% url 'home' %}">HOME </a>
              <a  class="nav-link active" href="#activities">OUR SERVICES</a>
              <a class="nav-link active" href="{% url 'index' %}">OUR BLOG</a>
              <a class="nav-link active" href="#about">ABOUT US</a>
              <span>
              <i class="fa fa-whatsapp"></i>
              <a class="nav-link active" href="https://api.whatsapp.com/send?phone=255689726060&text=Hello Promedical"> INSTANT CHAT</a>
              </span>
              <a class="nav-link active" href="{% url 'signup' %}">SIGNUP</a>
              <a class="nav-link active" href="{% url 'login' %}">LOGIN</a>
                {% endif %}
            </div>
         </div>
      </div>
    </nav>
  </header>
<!--Header file end-->































<br/>
{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}
<h1>GET YOUR DOCTOR</h1>
<br/>
{% csrf_token %}
    <script src=""></script>

{% load static %}

     <div class="site-section">
      <div class="container" data-aos="fade-up">
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <h2 class="font-weight-bold text-black">MEET WITH OUR MEDICAL PROFESSIONALS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor1.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor2.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor3.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
              </div>
            </div>
           <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor4.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor5.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
            <div class="team-member">
               <img src="{% static 'doctor6.jpg'  %} "  height=330 width=530 class="d-inline-block alighn-top" />
              <div class="text">
                <h2 class="mb-2 font-weight-light h4">Megan Smith</h2>
                <span class="d-block mb-2 text-white-opacity-05">Medical Doctor</span>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
                <p>
                  <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>




<!-- find your private doctor -->
      <div style="margin-top:30px; padding-top: 60px;" class="jumbotron">
        <div class="container">
          <div class="row" style="padding:0px 0px;">
            <div id="find_doctor_container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p style="color: black; font-weight: 700; margin-top: 10px;">Find Your Perfect Private doctor.</p>
                <form method="POST" data-email="computerwizard2022@gmail.com" action="https://script.google.com/macros/s/AKfycbw4BQ-CDxu9GMqRbXRLFKcGIDBiV8qBvg7yynTW8iAj2DCraqN0jAiVFdkiQcrb9Cyu/exec" >
                   <input type="hidden" name="_token" value="A customer ask for online consultation">
                      <div class="row">
                      <!-- validation errors here -->

                  <div style="margin: 0px 10px 10px 10px; display: none;" class="alert alert-success alert-dismissible fade in clicked_from_popular_subj" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                      On click you can choose your own doctor  and make an appointment "Find tutor" button to see a list of professional tutors
                  </div>

                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label for="doctor_profession">DOCTOR PROFESSION: <span class="required">*</span></label>
                      <select name="doctor_profession" required id="doctor_profession" class="form-control">
                                             <option value="all_diseases" title="lists all subjects without looking their categories">ALL</option>
                                             <option value="Malaria" title="Malaria">Malaria</option>
                                             <option value="Reproductive Health Disease" title="Reproductive Health Disease">Reproductive Health Disease</option>
                                             <option value="Childrens Diseases" title="Childrens Diseases">Childrens Diseases</option>
                                             <option value="Mental Health" title="Mental Health">Mental Health</option>
                                             <option value="Maternal Health" title="Maternal Health.">Maternal Health.</option>
                      </select>
                    </div>
                  </div>


                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label for="location">CHOOSE YOUR LOCATION: <span class="required">*</span></label>
                        <select name="location" required id="location" class="form-control">
                                            <option value="" title="select subject">SELECT LOCATION</option>
                                            <option value="Arusha">Arusha</option>
                                            <option value="Dar-es-Salaam">Dar-es-Salaam</option>
                                            <option value="Dodoma">Dodoma</option>
                                            <option value="Geita">Geita</option>
                                            <option value="Iringa">Iringa</option>
                                            <option value="Kagera">Kagera</option>
                                            <option value="Katavi">Katavi</option>
                                            <option value="Kigoma">Kigoma</option>
                                            <option value="Kilimanjaro">Kilimanjaro</option>
                                            <option value="Lindi">Lindi</option>
                                            <option value="Manyara">Manyara</option>
                                            <option value="Mara">Mara</option>
                                            <option value="Mbeya">Mbeya</option>
                                            <option value="Morogoro">Morogoro</option>
                                            <option value="Mtwara">Mtwara</option>
                                            <option value="Mwanza">Mwanza</option>
                                            <option value="Njombe">Njombe</option>
                                            <option value="Pemba North Region">Pemba North Region</option>
                                            <option value="Pemba South Region">Pemba South Region</option>
                                            <option value="Pwani">Pwani</option>
                                            <option value="Rukwa">Rukwa</option>
                                            <option value="Ruvuma">Ruvuma</option>
                                            <option value="Shinyanga">Shinyanga</option>
                                            <option value="Simiyu">Simiyu</option>
                                            <option value="Singida">Singida</option>
                                            <option value="Songea">Songea</option>
                                            <option value="Songwe">Songwe</option>
                                            <option value="TABORA">TABORA</option>
                                            <option value="Tanga">Tanga</option>
                                            <option value="Zanzibar North Region">Zanzibar North Region</option>
                                            <option value="Zanzibar South Region">Zanzibar South Region</option>
                                            <option value="Zanzibar Urban West">Zanzibar Urban West</option>
                                            <option value="Somewhere else (Not in the list)">Somewhere else (Not in the list)</option>
                        </select>
                    </div>
                  </div>

                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label for="sex">Sex: <span class="required">*</span></label>
                      <select name="sex" required id="sex" class="form-control">
                                           <option value="select sex" title="select sex">SELECT PREFERED SEX</option>
                                           <option value="Male" title="Male">Male</option>
                                           <option value="Female" title="Female">Female</option>
                      </select>
                    </div>
                   </div>

                  <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <div class="form-group">
                      <label for="Meeting_type">Meeting Type: <span class="required">*</span></label>
                          <select name="Meeting_type" required id="Meeting_type" class="form-control">
                                           <option value="" title="select tuition type">SELECT TYPE OF THE MEETING</option>
                                           <option value="Physical Meeting.">Pysical Meeting.</option>
                                           <option value="Online Meeting.">Online Meeting.</option>
                           </select>
                        </div>
                      </div>
                      <br/>
                      <br/>
                      <button type="submit" id="get_your_doctor" class="btn btn-primary mb-2">Find a Doctor</button>

                      <!-- Thankyou_message -->
                      <br>
                      <div class="thank_you_message" style="display:none;background:none;border:8px solid gray;border-radius: 40px;width: 400px;padding-top: 15px;padding-bottom: 40px;padding-left: 20px;padding-right: 20px;"><br><br>
                            <h1>Thanks for contacting us!</h1>
                            <h1>*******</h1>
                       </div>
                     </div>
                </form>

                <div class="get_your_doctor" style="text-align: center; margin-top: 50px;">
                <div style="border-bottom: 7px solid #fff; margin-bottom: -30px;"></div>
                <span style="height: 50px; width: 50px; border-radius: 50%; background-color: #fff; display: inline-block; font-size: 25px; padding: 7px 2px 0 0; margin-bottom: 10px;">OR</span><br/>

                <a style="margin-bottom: 10px;" href="https://docs.google.com/forms/d/e/1FAIpQLScJ1QVOCwFdZSDE9aEeuRpOCAM2SXx5_OCBwJIZDBQW5egjdw/viewform?usp=sf_link" class="btn btn-lg btn-info">SUBMIT A FORM.</a>
              </div>
            </div>
        </div>
        </div>
      </div>
<!-- Find Your own doctor -->
    <div class="container-fluid">














  <!-- ======= Partners and Supporters Section ======= -->
<section id="supporters" class="section-with-bg">
     <div class="has-bg-img bg-purple bg-blend-overlay">
     <div class="container" data-aos="fade-up">
      <div class="section-header">
        <div class="section-title" data-aos="zoom-out">
          <h2>Partners & Supporters</h2>
            </div>
           <h3 style="font-size: 20px; font-style: italic;" >We have a great and sincerely pleasure to our supporters</h3>
          <br>
         </div>

         <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4 col-xs-6">
             <div class="supporter-logo">
             <img src="{% static 'sdgs.png'  %}"  height=130 width=330 class="d-inline-block alighn-top" />
            </div>
          </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
             <img src="{% static 'University of Dar es salaam.png'  %} "  height=150 width=330 class="d-inline-block alighn-top" />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
             <img src="{% static 'google developers students club.png'  %} "  height=130 width=340 class="d-inline-block alighn-top" />
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="supporter-logo">
            <img src="{% static 'who.png'  %} "  height=130 width=340 class="d-inline-block alighn-top" />
          </div>
        </div>

        </div>
       </div>
     </div>
  </section><!-- End Sponsors Section -->






  <!-- ======= Footer ======= -->
<footer id="footer" class="text-center bg-secondary text-white p-4">
<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-info">
        <h3>Promedical</h3>
        <p>
          East Africa, Dar es salaam <br>
          Sayansi, Kijitonyama. <br><br>
          <strong>Phone:</strong> +255 689 726 060<br>
          <strong>Email:</strong> info@mgasa.loucat1@gmail.com<br>
        </p>
      </div>

      <div class="col-lg-2 col-md-6 footer-links">
        <h4>Useful Links</h4>
         <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
           <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
             <li><i class="bx bx-chevron-right"></i> <a href="#">Our Action</a></li>
           <li><i class="bx bx-chevron-right"></i> <a href="#">Social Impact</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Partners</a></li>
        </ul>
      </div>
        <div class="col-lg-2 col-md-6 footer-links">
        <h4>Social Media</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Instagram</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Twitter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Facebook</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Linkedin</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Yahoo</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Who are we?</a></li>
             <li><i class="bx bx-chevron-right"></i> <a href="#">Our partiners</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="#"> Suggestion Box</a></li>
             <li><i class="bx bx-chevron-right"></i> <a href="#">Our Team</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Achievements</a></li>
        </ul>
      </div>
    </div>
      <div class="col-lg-4 col-md-6 footer-newsletter">
        <h4>Our Newsletter</h4>
           <p>Stay with us! Your Email (required)</p>
             <form  action="" method="post" id="my-subform">
               <input  type="email" name="email"><input type="submit" style="background-color: #28C87E;" value="Subscribe">
             </form>
        <div id="my-sub-status"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
</div>
</footer><!-- End Footer -->




<!-- COPYRIGHT -->
    </div>
    <footer class="text-muted">
      <div class="container text-center">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
          <div class="copyright">
            &copy; <strong><span>2021 by Promedical, Inc.</span></strong>
          </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
  $('.carousel('cycle')').carousel({
  interval: 50
    })
    </script>
     </body>
</html>

<!--And this is a whole page including the connection with base.html -->